.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 460px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -2.5776965618133545px 6.873857021331787px 20.621572494506836px 0px
    #0000003b;
  border-radius: 20px;
}

.logo {
  display: flex;
  justify-content: start;
  margin-top: -8px;
  margin-left: -16px;
  width: 76px;
  height: 22px;
}

.heroBg {
  height: 168px;
  width: 308px;

  background-image: url('../image/backGround.png');
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  display: inline-block;
}

.containerHero {
  display: flex;
  flex-direction: row;
  margin: 28px 36px 28px 36px;

  text-align: center;
}

.border {
  margin-bottom: 45px;
  padding-bottom: 8px;

  background-color: #ebd8ff;
  box-shadow: 0px 3.4369285106658936px 2.5776965618133545px 0px #fbf8ff inset;
  box-shadow: 0px 3.4369285106658936px 3.4369285106658936px 0px #0000000f;
  box-shadow: 0px -1.7184642553329468px 3.4369285106658936px 0px #ae7be3 inset;
}

.avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.containerAvatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 8px solid #ebd8ff;
  box-shadow: 0px 4.391631126403809px 3.2937235832214355px 0px
      rgba(251, 248, 255, 1) inset,
    0px 4.391631126403809px 4.391631126403809px 0px rgba(0, 0, 0, 0.06),
    0px -2.1958155632019043px 4.391631126403809px 0px rgba(174, 123, 227, 1) inset;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.containerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  margin: 8px 8px;
  font-family: Montserrat;

  font-size: 20px;
  font-weight: 500;

  line-height: 24px;
  letter-spacing: 0em;

  color: rgba(235, 216, 255, 1);
}

.btn {
  background: rgba(235, 216, 255, 1);
  width: 196px;
  border: none;
  padding: 14px 28px 14px 28px;
  border-radius: 10px;

  box-shadow: 0px 3.4369285106658936px 3.4369285106658936px 0px
    rgba(0, 0, 0, 0.25);

  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
}
