.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.btn {
  display: flex;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-decoration-line: none;
  font-size: 20px;
  width: 60px;
  height: 30px;
}
.btn:hover {
  transform: scale(1.3);
  color: #5cd3a8;
}
